<!DOCTYPE html>
<html>

<head>
  <title>Editing</title>
</head>

<body>
  <h1>Add manga</h1>
  <form action="/update_item" method="post">
    <p>
      Title: <br />
      <input type="text" name="title" value="{{ item.title }}" size ="40" maxlength = "100" required />
    </p>
    <p>
      Author: <br />
      <input type="text" name="author" size = "20" value = "{{ item.author }}" maxlength ="100" required />
    </p>
    <p>
      Synopsis: <br />
      <textarea name="description" rows="8" cols="60" maxlength ="1000" required>{{ item.description }}</textarea>
    </p>
    <input type="hidden" name="item_id" value="{{ item.id }}" />
    <input type="submit" value="Edit manga" />
  </form>
</body>

</html>