<!DOCTYPE html>
<html>

<head>
  <title>Search Manga</title>
</head>

<body>
  <h1> Search for manga </h1>
    <form action="/find_item" method = "get">
        <p>
            Search: <input type="text" name="query" value = "{{ query }}">
        </p>
        <input type="submit" value = "Search">
    </form>

<p>
    <a href="/">Go back</a>
</p>

{% if query %}
<h2>Results</h2>

<ul>
    {% for item in results %}
    <li><a href="/item/{{ item.id }}">{{ item.title }}</a></li>
    {% endfor %}
</ul>
{% endif %}
</body>

</html>