<!DOCTYPE html>
<html>

<head>
  <title>Search Manga</title>
</head>

<body>
  <h1> Search Manga </h1>
    <form action="/find_item" method = "get">
        <p>
            <input type="text" name="query" value = "{{ query }}" placeholder="Search by title or synopsis..." size = "30">
        </p>
        <input type="submit" value = "Search">
    </form>

<p>
    <a href="/">←Back to Library</a>
</p>

{% if query %}
<h2>Results</h2>

<ul>
    {% for item in results %}
    <li><a href="/item/{{ item.id }}">{{ item.title }}</a></li>
    {% endfor %}
</ul>
{% endif %}
</body>

</html>