<!DOCTYPE html>
<html>

<head>
  <title>Manga cover</title>
</head>

<body>
    <h1>Manga cover</h1>

    <h2>Add or update cover</h2>
      <form action="/add_image" method="post" enctype="multipart/form-data">
    <p>
      Cover image: <input type="file" name="image" accept=".png" />
    </p>
    <input type="hidden" name="item_id" value="{{ item.id }}" />
    <input type="submit" value="Upload cover" />
  </form>

    <p>
        <a href="/item/{{ item.id }}">←Back to Library</a>
    </p>
</body>

</html>