<!DOCTYPE html>
<html>

<head>
  <title>MangaReadingLog</title>
</head>

<body>
  <h1> MangaReadingLog </h1>
  
  {% if session.username %}
  <p>
    Welcome back, {{ session.username }}!
  </p>
  <p>
    <a href="/logout">Logout</a>
  </p>

  <p>
    <a href="/new_item">Add manga</a>
  </p>
  {% else %}
  <p>
    <a href="/login">Log in</a>
    <a href="/register">Register</a>
  </p>
  {% endif %}

  <p>
    <a href="/find_item">Search for manga</a>
  </p>

  <h2>Library</h2>

  <ul>
    {% for item in items%}
    <li><a href="/item/{{ item.id }}">{{item.title}}</a></li>
    {% endfor %}
  </ul>

</body>

</html>