<!DOCTYPE html>
<html>

<head>
  <title>Logging in</title>
</head>

<body>
  <h1>Log in</h1>
  {% if session.username %}
  <p>
    Welcome back, {{ session.username }}!
  </p>
  <p>
    <a href="/logout">Logout</a>
  </p>
  {% else %}
  <form action="/login" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Log in" />
  </form>
  {% endif %}
</body>

</html>