<!DOCTYPE html>
<html>

<head>
  <title>Add manga</title>
</head>

<body>
  <h1>Add a new manga</h1>
  <form action="/create" method="post">
    <p>
      Title: <br />
      <input type="text" name="title" size ="30" />
    </p>
    <p>
      Author: <br />
      <input type="text" name="author" size = "20" />
    </p>
    <p>
      Description: <br />
      <textarea name="description" rows="8" cols="60"></textarea>
    </p>
    <input type="submit" value="Add manga" />
  </form>
</body>

</html>