<!DOCTYPE html>
<html>

<head>
  <title>Registering</title>
</head>

<body>
  <h1>Create account</h1>
  <form action="/create" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" maxlength="25" required />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password1" required />
    </p>
    <p>
      Confirm password: <br />
      <input type="password" name="password2" required />
    </p>
    {% if error %}
    <p style="color:red;">{{ error }}</p>
    {% endif %}
    <input type="submit" value="Create account" />
  </form>
</body>

</html>