<!DOCTYPE html>
<html>

<head>
  <title>User {{ user.username }}</title>
</head>

  <body style="
    background-color: #f6efe6;
    color: #3f342c;
    font-family: Arial, sans-serif;
    padding: 24px;">
  <h1>{{ user.username }}'s manga</h1>
  <p>
    Manga entries added: {{ items | count }}
  </p>
<h2 style="margin-bottom: 6px; margin-top: 16px;">Manga</h2>

{% if items %}
<ul style="list-style: none; padding: 0; margin: 0; margin-left: 12px;">
  {% for item in items %}
    <li style="margin-bottom: 8px;">
      <a href="/item/{{ item.id }}" style="
          text-decoration: none;
          color: #5a4636;
          font-size: 15px;"
         onmouseover="this.style.textDecoration='underline'; this.style.color='#3f342c'"
         onmouseout="this.style.textDecoration='none'; this.style.color='#5a4636'">
        ✿ {{ item.title }}
      </a>
    </li>
  {% endfor %}
</ul>

{% else %}
  <p style="color:#7a6a5c; margin-left: 12px;">
    ✿ No manga added yet.
  </p>
{% endif %}

<p>
    <a href="/" style="
        display: block;
        margin-top: 16px;
        color: #7a6a5c;
        text-decoration: none;
        font-size: 14px;
        "
        onmouseover="this.style.textDecoration='underline'; this.style.color='#5a4636'"
        onmouseout="this.style.textDecoration='none'; this.style.color='#7a6a5c'">
        ← Back to Library
    </a>
</p>
</body>
</html>
